[
    {
        "environment": [
            { "name": "LOGLEVEL", "value": "${log_level}" },
            { "name" : "OCR_TESSERACT_THREAD_POOL_SIZE", "value": "${ocr_tesseract_thread_pool_size}" }
        ],
        "name": "${service_name}",
        "image": "${docker_registry}/${service_name}:${ocr_api_release_version}",
        "cpu": ${machine_cpu_count},
        "memory": ${machine_amount_of_memory_mib},
        "mountPoints": [],
        "portMappings": [{
            "containerPort": ${ocr_api_application_port},
            "hostPort": 0,
            "protocol": "tcp"
        }],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-create-group": "true",
                "awslogs-region": "${aws_region}",
                "awslogs-group": "/ecs/${name_prefix}/${service_name}",
                "awslogs-stream-prefix": "ecs"
            }
        },
        "volumesFrom": [],
        "essential": true
    }
]
